
<div class="container center-block">
    <div class="row">
        <div class="col-6">
            <img src="/img/node.png" alt="" class="img">
        </div>
        <div class="col-6">
            <img src="/img/mongo.png" alt="" class="img">
        </div>
         
    </div>
    <div class="row mt-5">
        <div class="col-2">
            <img class="img" src="/img/express.png" alt="">
        </div>
        <div class="col-2">
            <img src="/img/jQuery.gif" alt="" class="img">
        </div>
        <div class="col-2">
            <img src="/img/handlebars.png" alt="" class="img">
        </div>
        <div class="col-2">
    
            <img src="/img/passport.png" alt="" class="img">
        </div>
        <div class="col-2">
            <img class="img" src="/img/bootstrap.png" alt="">
        </div>
        <div class="col-2">
            <img src="/img/vs.png" alt="" class="img">
        </div>
    </div>

    

</div>