<div class="jumbotron mt-4">
    <h1 class="display-4"> GYM App with NodeJs and MongoDB </h1>
    <p class="lead"> Aplicacion para control de mensualidades en gimnasios </p>
    <hr class="my-4">
    <p>Edgar Ulises Cipres Medina</p>

</div>